.heading-image{
    width: 50px;
    height: 50px;
}

.salsa{
    width: 50px;
    height: 50px;
}

.chorizo{
    width: 50px;
    height: 50px;
}

.pan-dulce{
    width: 50px;
    height: 50px;
}

.recipe-images{
    width: 50px;
    height: 50px;
}

.board-image{
    width: 50px;
    height: 50px;
}
